/*******************************
    Desktop version, width 990px
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 2000px;
}

.left-bar {
    width: 20%;
}

.application-and-topbar {
    width: 80%;
    height: 1000px;
}

.top-bar {
    width: 100%;
    height: 10%;
}

.application {
    width: 100%;
    height: 90%;
}



