/*******************************
    Desktop version, width 990px
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-bar {

}

.top-bar {

}

.application-content {
    
}



