/*******************************
    Desktop version, width 990px
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 2000px;
}

.left-bar {
    width: 20%;
}

.application-and-topbar {
    width: 80%;
    height: 900px;
}

.top-bar {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.upgrade-button-box {
    display: flex;
    height: 65%;
    width: 100%;
    align-items: center;
}

.upgrade-button {
    color: white;
}

.navbar {
    background-color: brown;
    height: 35%;
    width: 100%;
}


.application {
    width: 100%;
    height: 85%;
    background-color: rgb(24, 24, 24);
}



