/*******************************
    Desktop version, width 990px
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.jumbo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 70px);
}

.music-player {
    background-color: red; /* DEBUG */
    width: 100%;
    height: 80px;
    position: sticky;
}

.left-bar {
    width: 200px;
    background-color: black;
}

.music-page-and-topbar {
    width: calc(100% - 200px);
    background-color: rgb(24, 24, 24);
    overflow: auto;
}

.top-bar {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.logo {
    height: 
    padding: ;
}

.logo img {
    width: 100%;
    height: 100%;
}

.upgrade-button-box {
    display: flex;
    height: 90px;
    width: 100%;
    padding-left: 75%;
    align-items: center;
}

.upgrade-button {
    color: rgb(156, 156, 156);
    background-color: black;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    padding: 10px 35px;
}

.navbar {
    width: 100%;
    height: 20px;
}

.music-page {
    width: 100%;
    height: calc(100vh - 190px);
    padding-bottom: 50px;
}


/* COLORS 

topbar -> lightblack : rgb(8, 11, 18)
navbar -> mirage : rgb(20, 25, 34)
txt -> rgb(123, 125, 130)
navbar -> glowing-green : rgb(20, 25, 34)

*/

/*DEBUG

body {
    display: flex;
    flex-wrap: wrap;
}

.application-and-topbar {
    width: 80%;
    height: 900px;
}

.top-bar {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.upgrade-button-box {
    display: flex;
    height: 65%;
    width: 100%;
    padding-left: 75%;
    align-items: center;
}

.upgrade-button {
    color: rgb(156, 156, 156);
    background-color: black;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    padding: 10px 35px;
}

.navbar {
    display: flex;
    background-color: brown;
    height: 35%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navbar-txt {

}


.application {
    width: 100%;
    height: 300vh;
    background-color: rgb(24, 24, 24);
}

*/

