/*******************************
    Desktop version, width 990px
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left-bar {
    width: 20%;
}

.music-page-and-topbar {
    width: 80%;
    height: 150vh;
    background-color: rgb(24, 24, 24);
}

/*DEBUG

body {
    display: flex;
    flex-wrap: wrap;
}

.application-and-topbar {
    width: 80%;
    height: 900px;
}

.top-bar {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.upgrade-button-box {
    display: flex;
    height: 65%;
    width: 100%;
    padding-left: 75%;
    align-items: center;
}

.upgrade-button {
    color: rgb(156, 156, 156);
    background-color: black;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    padding: 10px 35px;
}

.navbar {
    display: flex;
    background-color: brown;
    height: 35%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navbar-txt {

}


.application {
    width: 100%;
    height: 300vh;
    background-color: rgb(24, 24, 24);
}

*/

