/*******************************
    Desktop version, width 990px
*******************************/

/* REGOLE GENERALI */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: white;
}

/* FINE REGOLE GENERALI */


.jumbo {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 70px);
}

.music-player {
    background-color: red; /* DEBUG */
    height: 70px;
}

.left-bar {
    width: 200px;
    background-color: black;
}

.logo {
    padding: 30px 30px 30px 20px;
    height: 90px;
}

.logo img {
    width: 80%;
}

.app-actions {
    height: 120px;
}

.general-action {
    display: flex;
    align-items: center;
    color: gray;
    height: calc(100% / 3);
    padding-left: 15px;
    border: 3px solid rgba(255, 255, 255, 0);
}

.app-actions img {
    height: 65%;
}

.home-nohover {
    height: 65%;
}

.general-action-txt {
    font-size: 13px;
    padding-left: 5px;
    font-weight: 700;
}

.playlist-and-profile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
}

.create-playlist {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    color: gray;
    margin-top: 10px;
    padding: 7px;
}

.playlists-box h2 {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
}

.playlists-box li {
    margin-top: 13px;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 700;
    color: gray;
}

.profile-box {
    height: 90px;
    padding: 10px 5px 15px 5px;
    margin: 10px 0 20px 0;
}

.profile-box svg {
    width: 50px;
    height: 50%;
}

/*
.profile svg {
    background-color: gray;
    color: white;
    border-radius: 50px;
}
*/

.appinstall {
    display: flex;
    border-bottom: 1px solid gray;
    flex-wrap: nowrap;

}

.appinstall-txt {
    display: flex;
    color: white;
    font-size: 12px;
    width: 40%;
    align-items: center;
}

.download-icon {
}

.profile {
    display: flex;
    flex-wrap: nowrap;
}

.somemargin {
    margin-left: 5px;
}

.fa-square-plus {
    color: gray;
    background-color: black;
    font-size: 35px;
}

.home {
    display: flex;
    align-items: center;
    color: white;
    border-left: 3px solid rgb(67, 255, 50);
}

.music-page-and-topbar {
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    background-color: rgb(24, 24, 24);
    overflow-y: scroll;
}

.top-bar {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.upgrade-button-box {
    display: flex;
    height: 80px;
    width: 100%;
    padding-left: 75%;
    padding-right: 20px;
    align-items: center;
}

.upgrade-button {
    color: rgb(156, 156, 156);
    background-color: black;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    padding: 10px 35px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-weight: 700;
    height: calc(100% - 80px);
    background-color: rgb(24, 24, 24);
    color: gray;
}

.navbar :first-child {
    border-bottom: 3px solid rgb(67, 255, 50)
}

.music-page {
    height: calc(100% - 190px);
}

.card {

}


/*

.addbutton {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: gray;
}

*/




/* COLORS 

topbar -> lightblack : rgb(8, 11, 18)
navbar -> mirage : rgb(20, 25, 34)
txt -> lightgray rgb(123, 125, 130)
navbar -> glowing-green : rgb(20, 25, 34)

*/

/*DEBUG

body {
    display: flex;
    flex-wrap: wrap;
}

.application-and-topbar {
    width: 80%;
    height: 900px;
}

.top-bar {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.upgrade-button-box {
    display: flex;
    height: 65%;
    width: 100%;
    padding-left: 75%;
    align-items: center;
}

.upgrade-button {
    color: rgb(156, 156, 156);
    background-color: black;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50px;
    padding: 10px 35px;
}

.navbar {
    display: flex;
    background-color: brown;
    height: 35%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navbar-txt {

}


.application {
    width: 100%;
    height: 300vh;
    background-color: rgb(24, 24, 24);
}

*/

